@if (blog) {
<div class="container mt-5">
    <div class="row">
        @if (blog.image) {
        <div class="col-md-4">
            <img [src]="blog.image" class="img-fluid rounded mb-4" alt="Blog image">
        </div>
        }
        <div [ngClass]="blog.image ? 'col-md-8' : 'col-md-12'">
            <h1>{{ blog.title }}</h1>
            <h5 class="text-muted">{{ blog.subtitle }}</h5>
            <p class="text-secondary"><small>By {{ blog.author }} on {{ blog.date | date }}</small></p>

            <div class="mt-4" [innerHTML]="blog.content"></div>

            <!-- <div class="mt-5">
                @for (tag of blog.tags; track $index) {
                <span class="badge bg-secondary me-2">{{ tag }}</span>
                }
            </div> -->
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-end">
        <a [routerLink]="['/blogs']" class="btn btn-link">Back to Blogs</a>
    </div>


</div>
}