<footer class="footer bg-dark text-white pt-5 pb-4 mt-5">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-left">

            <!-- Branding -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Harsh Pratap Singh</h5>
                <p>Passionate Full Stack Developer with experience in healthcare, infrastructure, and energy domains.
                    Let's build something great together!</p>
            </div>

            <!-- Social Media -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Connect with Me</h5>
                <div class="d-flex justify-content-center justify-content-md-center gap-3">
                    <a [href]="links.contactLinkedIn" target="_blank" class="btn btn-outline-light btn-floating">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a [href]="links.contactGitHub" target="_blank" class="btn btn-outline-light btn-floating">
                        <i class="bi bi-github"></i>
                    </a>
                    <a [href]="links.contactEmail" class="btn btn-outline-light btn-floating">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/home" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="/about" class="text-white text-decoration-none">About Me</a></li>
                    <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
                    <li><a href="/blogs" class="text-white text-decoration-none">Blogs</a></li>
                </ul>
            </div>

        </div>

        <!-- Footer Bottom -->
        <div class="text-center mt-4">
            <p class="mb-0">© 2025 Harsh Pratap Singh. All Rights Reserved.</p>
        </div>

    </div>

</footer>