<!-- <app-header></app-header> -->

<div class="container">
    <div class="row">
        <!-- First Blog -->
        <div class="col-md-8 mb-4">
            <div id="carouselCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    @for (item of blogs.slice(1,4); track $index) {
                    <button type="button" data-bs-target="#carouselCaptions" [attr.data-bs-slide-to]="$index"
                        [class.active]="$index === 0" [attr.aria-current]="$index === 0? true:false"
                        [attr.aria-label]="'Slide '+ $index"></button>
                    }
                </div>
                <div class="carousel-inner mb-2">
                    @for (slide of blogs.slice(1,4); track $index) {
                    <div class="carousel-item" [class.active]="$index === 0">
                        <img [src]="slide.image" class="d-block w-100" style="height: 55vh;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="carousel-title">{{slide.title}}</h2>
                            <p class="card-text">{{ slide.subtitle }}</p>
                            <div class="mt-3">
                                <a [routerLink]="['/blog', slide.id]" class="btn btn-outline-primary btn-sm">Read
                                    More</a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="row mb-4">
                @for (blog of blogs.slice(0, 2); track $index) {
                <div class="col-6 mb-3">
                    <app-blog-card [blog]="blog"></app-blog-card>
                </div>
                }
            </div>
        </div>

        <!-- Column with 3 stacked blogs -->
        <div class="col-md-4">
            @for (blog of blogs.slice(3, 5); track $index) {
            <div class="row">
                <div class="col-12 mb-3">
                    <app-bloglist-rightcontent [blog]="blog"></app-bloglist-rightcontent>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-4">Features Blogs</h2>
            <div class="row">
                @for (blog of paginatedBlogs; track $index) {
                <div class="col-md-4 mb-4">
                    <app-blog-card [blog]="blog"></app-blog-card>
                </div>
                }
            </div>
            <app-pagination (selectedPage)="onPageChange($event)"></app-pagination>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->