.carousel-inner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    overflow: visible;
    font-size: 2rem;
    position: relative;

}

.carousel-inner img {
    width: 100%;
    height: 100%;
    /* height: 60vh; */
    object-fit: cover;
    display: block;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.carousel-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.carousel-subtitle {
    font-size: 1.25rem;
    color: #ece2e2;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .carousel-inner {
        height: 250px;
    }

    .carousel-title {
        font-size: 1.6rem;
    }

    .carousel-subtitle {
        font-size: 1rem;
    }

    .carousel-caption {
        top: 60%;
        padding: 0.75rem;
    }
}

@media (max-width: 480px) {
    .carousel-inner {
        height: 150px;
    }

    .carousel-title {
        font-size: 1.1rem;
    }

    .carousel-subtitle {
        font-size: 0.9rem;
    }

    .carousel-caption {
        top: 45%;
        padding: 0.60rem;
    }
}









/* adding to test */
/* .cen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#user-info {
    background-color: #0d1117;
    color: #fff;
    margin: 20px;
    padding: 20px;
    border: 0;
    box-shadow: 0 0 0.06rem #e1e4e8;
    border-radius: 10px;
    max-width: 500px;
} */