<div class="card shadow-sm blog-card">
    <img [src]="blog.image" class="card-img-top" alt="Blog image">
    <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">{{ blog.subtitle }}</p>
        <small class="text-muted">By {{ blog.author }} | {{ blog.date | date }} | {{ blog.categoryName }}</small>
        <div class="mt-3">
            <a [routerLink]="['/blog', blog.id]" class="btn btn-outline-primary btn-sm">Read More</a>
        </div>
    </div>
</div>