<figure class="text-center">
    <h3 class="display-6">Blockquotes</h3>
    <blockquote class="blockquote">
        <p class="mb-0">Follow your passion. Stay true to yourself. Never follow someone else’s path unless you’re
            you’re in the woods and you’re lost and you see a path. By all means, you should follow that.</p>
        <br>
        <p>Find out who you are and be that person. That’s what your soul was put on this earth to be. Find the truth,
            live that truth, and everything else will come.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="Source Title">Ellen DeGeneres</cite>
    </figcaption>
</figure>