<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-4">Features Blogs</h2>
            <div class="row">
                @for (blog of paginatedBlogs; track $index) {
                <div class="col-md-4 mb-4">
                    <app-blog-card [blog]="blog"></app-blog-card>
                </div>
                }
            </div>
            <app-pagination (selectedPage)="onPageChange($event)"></app-pagination>
        </div>
    </div>
</div>